<ion-view view-title="Panier">
  <ion-content>
	<h1>Votre Panier</h1> 
	<div  class="list" ng-repeat="panier in paniers" ng-click="showImgProduit = !showImgProduit">
		<a class="item item-thumbnail-left" href="#">
			<img src="../../../../img/{{panier.img_produit}}">
	  		<h2>{{panier.value_produit}}</h2>
	  		<p>Prix : {{panier.prix_produit}} €</p>
	  		<p>Ref : {{panier.ref_produit}}</p>	
		</a>
		<div class="item item-image" ng-show="showImgProduit"><img src="../../../../img/{{panier.img_produit}}"></div>
	</div>

	<p>Total = </p>
  </ion-content>
</ion-view>

