<ion-view view-title="Categories">
    <ion-content class="padding">
        <div class="list">
            <div  ng-repeat="categorie in categories | orderBy:value">
                <div class="item item-divider" ng-click="showRecettes= !showRecettes">
                    <h2><strong>{{categorie.value}}</strong></h2>
                    <img class="full-image" src="{{urlImg + categorie.img}}" style="width: 70%; display:block; margin-left:65px;" >
                    
                </div>
                <div ng-repeat="recette in categorie.recettesCat"  ng-show="showRecettes">
                    <a class="item"  href="#/app/recetteSingle/{{recette.id_recette}}" >{{recette.titre}}</a>
                    
                </div>
                <br/>
            </div>   
        </div>
    </ion-content>
</ion-view>
