<ion-view view-title="Toutes les Recettes">
	<ion-content>
		<h1><a class="button icon-left ion-star button-energized" href="#/app/categories">par categorie</a></h1>
		<h1>Recettes</h1> 
		<div class="list card" ng-repeat="recette in recettes | orderBy:id_recette">
			<div class="item item-avatar" ng-click="montrerRe7 = !montrerRe7">
				<img src="{{urlImg + recette.img}}">
				<h2>{{recette.titre}}</h2>
			</div>
			<div class="item item-body" ng-show="montrerRe7">
				<img class="full-image" src="{{urlImg + recette.img}}">
			    <div ng-bind-html="showHtml(recette.value)"></div>
			    <!-- <p>{{recette.titre}}<p> -->
			    
			    <p>{{recette.categorie}}<p>

			    <div ng-repeat="ingredient in recette.ingredients">
			    <p>{{ingredient.ingredients}} : {{ingredient.value}} {{ingredient.unite}}<p>
			    </div>
			    
			    <div ng-repeat="produit in recette.produits">
				    <p>{{produit.value_produit}}<br/>
				    	<img src="{{urlImg + produit.img}}" style="height:140px; width:140px;">
				    </p>
			    </div>

			    <div ng-repeat="commentaire in recette.commentaires">
			      	<p>
				        {{commentaire.pseudo}}<br/>
				        {{commentaire.update}}<br/>
				        <div ng-bind-html="showHtml(commentaire.value)"></div>
			       	</p>
			    </div>
		  	</div>
		</div>
	</ion-content>
</ion-view>


