<ion-modal-view view-title="Recette">
    <ion-header-bar>

      <h1 class="title">{{recette.titre}}</h1>
    </ion-header-bar>

	<ion-content>

		<div class="item item-body">
			<img class="full-image" src="{{urlImg + recette.img}}">
		    <div ng-bind-html="showHtml(recette.value)"></div>
		    <!-- <p>{{recette.titre}}<p> -->
		    
		    <p>{{recette.categorie}}<p>

		    <div ng-repeat="ingredient in recette.ingredients">
		    <p>{{ingredient.ingredients}} : {{ingredient.value}} {{ingredient.unite}}<p>
		    </div>
		    
		    <div ng-repeat="produit in recette.produits">
			    <p>{{produit.value_produit}}<br/>
			    	<img src="{{urlImg + produit.img}}" style="height:140px; width:140px;">
			    </p>
		    </div>

		    <div ng-repeat="commentaire in recette.commentaires">
		      	<p>
			        {{commentaire.pseudo}}<br/>
			        {{commentaire.update}}<br/>
			        <div ng-bind-html="showHtml(commentaire.value)"></div>
		       	</p>
		    </div>
		    <input type="button" value="Ajouter un commentaire" ng-click="showEditeurCommentaire=true">
			<div ng-show="showEditeurCommentaire">
				<textarea ng-model="comData.textCommentaire"  cols="60" rows="3"></textarea>
				
				<select ng-model="comData.note">
					<option  value="1">1</option>
					<option  value="2">2</option>
					<option  value="3">3</option>
					<option  value="4">4</option>
					<option  value="5">5</option>
				</select>
				<input type="button" ng-click="addCommentaire()"   value="Envoyer">
			</div>

	  	</div>
	</ion-content>
</ion-modal-view>


