<ion-view view-title="Produits">
	<ion-content>
		<h1><a class="button icon-left ion-star button-energized" href="#/app/panier">Votre panier</a></h1>
		<h1>Ustensiles de cuisine et électroménager</h1> 
		<div class="list" ng-repeat="produit in produits">
			<button class="button button-small button-balanced" ng-click="buyProduit({{produit.id_produit}})">Ajouter au panier</button>
			<a class="item item-thumbnail-left" href="#/app/produitSingle/{{produit.id_produit}}">

				<img src="{{urlImg + produit.img}}">
		  		<h2>{{produit.value}}</h2>
		  		<p>Prix : {{produit.prix}} €</p>
		  		<p>Ref : {{produit.ref}}</p>
		  		<div  ng-show="successState" >
		            <div ng-bind="showSuccess()"></div>
				</div>
				<div  ng-show="errorState" >
		            <div ng-bind="showError()"></div>
				</div>
		 	</a>
			<!-- <div class="item item-image" ng-show="showImgProduit"><img src="{{urlImg + produit.img}}"></div> -->
		</div>
	</ion-content>
</ion-view>

<script id="templates/panier.html" type="text/ng-template">
<ion-view view-title="Panier">
  <ion-content>
	<h1>Votre Panier</h1> 
	<div  class="list" ng-repeat="panier in paniers" ng-click="showImgProduit = !showImgProduit">
		<div class="item item-thumbnail-left">
			<img src="{{urlImg + panier.img_produit}}">
	  		<h2>{{panier.value_produit}}</h2>
	  		<p>Prix : {{panier.prix_produit}} €</p>
	  		<p>Ref : {{panier.ref_produit}}</p>	
		</div>
		<div class="item item-image" ng-show="showImgProduit"><img src="{{urlImg + panier.img_produit}}"></div>
	</div>

	<p>Total = <div ng-bind-html="total"></div></p>
  </ion-content>
</ion-view>
</script>

<script id="templates/produitSingle.html" type="text/ng-template">
<ion-view view-title="{{produit.value}}">
	<ion-content>
		 
		<div class="list">
			<button class="button button-small button-balanced" ng-click="buyProduit({{produit.id_produit}})">Ajouter au panier</button>
				<div class="item item-image"><img src="{{urlImg + produit.img}}"></div>
		  		<h2>{{produit.value}}</h2>
		  		<p>Prix : {{produit.prix}} €</p>
		  		<p>Ref : {{produit.ref}}</p>
		  		<div  ng-show="successState" >
		            <div ng-bind="showSuccess()"></div>
				</div>
				<div  ng-show="errorState" >
		            <div ng-bind="showError()"></div>
				</div>
		 	</a>
			
		</div>
	</ion-content>
</ion-view>
</script>
