
<!-- <h1>Home</h1>

<form  ng-submit="submit(); submitted=true">
        <input type="text" ng-model="inputMail" value="mail1@hotmail.com" />
        <input type="password" ng-model="inputPassword" value="azerty" />
        <input type="submit" value="ok" />
</form>

<div dir-loader="message" class="page-content">
   <h4>{{ message }}</h4>
   <hr />
   <h4>{{ user.nom }}</h4>
   <hr />
</div> -->


  <div class="list" >
<form  ng-submit="submit(); submitted=true">
    <label class="item item-input">
        <span class="input-label" >Mail</span>
        <input type="text" ng-model="inputMail">
    </label>
    <label class="item item-input">
        <span class="input-label" >Mot de passe</span>
        <input type="password" ng-model="inputPassword">
    </label>
    <button class="button button-full button-positive" type="submit">
      Se connecter
    </button>
  
</form>
</div>



